USE [master]
GO
/****** Object:  Database [MotorbikeRentalDB]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE DATABASE [MotorbikeRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotorbikeRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MotorbikeRentalDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotorbikeRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MotorbikeRentalDB_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotorbikeRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotorbikeRentalDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcRentalDays]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 13) FUNCTION: tính số ngày thuê (tính cả ngày cuối)
-- =============================================
CREATE FUNCTION [dbo].[fn_CalcRentalDays] (@start DATE, @end DATE)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(DAY, @start, @end) + 1;
END;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[admin_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefundInspections]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefundInspections](
	[inspection_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[admin_id] [int] NOT NULL,
	[bike_condition] [varchar](20) NOT NULL,
	[damage_notes] [nvarchar](max) NULL,
	[damage_fee] [decimal](18, 2) NULL,
	[refund_amount] [decimal](18, 2) NOT NULL,
	[refund_method] [varchar](20) NOT NULL,
	[refund_status] [varchar](20) NULL,
	[inspected_at] [datetime2](7) NULL,
	[admin_notes] [nvarchar](500) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[inspection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalOrders]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalOrders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[total_price] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[deposit_amount] [decimal](12, 2) NOT NULL,
	[deposit_status] [nvarchar](20) NOT NULL,
	[payment_submitted] [bit] NOT NULL,
	[return_status] [nvarchar](32) NOT NULL,
	[pickup_status] [nvarchar](20) NULL,
	[picked_up_at] [datetime] NULL,
	[returned_at] [datetime] NULL,
	[admin_pickup_id] [int] NULL,
	[admin_return_id] [int] NULL,
	[confirmed_at] [datetime] NULL,
	[change_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_refund_requests]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_refund_requests] AS
SELECT 
    ri.inspection_id as withdrawal_id,
    ri.order_id,
    c.full_name as customer_name,
    c.phone as customer_phone,
    ro.deposit_amount as amount,
    ri.refund_amount,
    ri.refund_method,
    ri.refund_status as status,
    ri.inspected_at as request_date,
    ri.inspection_id,
    ri.bike_condition,
    ro.returned_at
FROM RefundInspections ri
INNER JOIN RentalOrders ro ON ri.order_id = ro.order_id
INNER JOIN Customers c ON ro.customer_id = c.customer_id
WHERE ri.refund_status IS NOT NULL;
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_date] [datetime] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[method] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[reference] [nvarchar](64) NULL,
	[verified_by] [int] NULL,
	[verified_at] [datetime] NULL,
	[payment_method] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderPaymentSummary]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 17) VIEW: Tổng hợp đơn + tổng tiền đã thanh toán
-- =============================================
CREATE VIEW [dbo].[vw_OrderPaymentSummary] AS
SELECT
    r.order_id,
    r.customer_id,
    c.full_name  AS customer_name,
    r.start_date,
    r.end_date,
    r.total_price         AS order_total,
    r.status              AS order_status,
    r.created_at          AS order_created_at,
    ISNULL(SUM(CASE WHEN p.status='paid' THEN p.amount ELSE 0 END),0) AS total_paid,
    COUNT(p.payment_id)   AS payment_count,
    MAX(CASE WHEN p.status='paid' THEN p.payment_date END) AS last_paid_at,
    (r.total_price - ISNULL(SUM(CASE WHEN p.status='paid' THEN p.amount ELSE 0 END),0)) AS amount_due
FROM RentalOrders r
JOIN Customers c ON c.customer_id = r.customer_id
LEFT JOIN Payments p ON p.order_id = r.order_id
GROUP BY r.order_id, r.customer_id, c.full_name, r.start_date, r.end_date, r.total_price, r.status, r.created_at;
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[email_verified] [bit] NOT NULL,
	[last_login] [datetime] NULL,
	[cancel_count] [int] NOT NULL,
	[cancel_in30_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BikeTypes]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BikeTypes](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email_Verify_Tokens]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email_Verify_Tokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[token] [nvarchar](128) NOT NULL,
	[expire_at] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[used] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorbikes]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorbikes](
	[bike_id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NULL,
	[store_id] [int] NULL,
	[type_id] [int] NOT NULL,
	[bike_name] [nvarchar](100) NOT NULL,
	[license_plate] [nvarchar](20) NOT NULL,
	[price_per_day] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[bike_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[message] [nvarchar](1000) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[bike_id] [int] NOT NULL,
	[price_per_day] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[line_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[admin_id] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[partner_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[company_name] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[admin_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Password_Reset_Tokens]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Password_Reset_Tokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[token] [nvarchar](128) NOT NULL,
	[expire_at] [datetime] NOT NULL,
	[used] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remember_Tokens]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remember_Tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[token] [nvarchar](128) NOT NULL,
	[expire_at] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[bike_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
	[order_id] [int] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreReviews]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreReviews](
	[store_review_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[store_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[store_review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StoreReviews_Customer] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[store_name] [nvarchar](120) NOT NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](120) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Stores_Admin] UNIQUE NONCLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet_Transactions]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet_Transactions](
	[tx_id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[order_id] [int] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[transaction_type] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[tx_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[balance] [decimal](12, 2) NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalRequests]    Script Date: 11/16/2025 3:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[bank_account] [nvarchar](100) NOT NULL,
	[bank_name] [nvarchar](100) NOT NULL,
	[account_holder] [nvarchar](100) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[request_date] [datetime2](7) NOT NULL,
	[processed_date] [datetime2](7) NULL,
	[processed_by] [int] NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailTok_Account]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailTok_Account] ON [dbo].[Email_Verify_Tokens]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ResetTok_Account]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ResetTok_Account] ON [dbo].[Password_Reset_Tokens]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefundInspections_Admin]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefundInspections_Admin] ON [dbo].[RefundInspections]
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefundInspections_Order]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefundInspections_Order] ON [dbo].[RefundInspections]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefundInspections_Status]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RefundInspections_Status] ON [dbo].[RefundInspections]
(
	[refund_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RememberTok_Account]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RememberTok_Account] ON [dbo].[Remember_Tokens]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RentalOrders_Status_ConfirmedAt]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RentalOrders_Status_ConfirmedAt] ON [dbo].[RentalOrders]
(
	[status] ASC,
	[confirmed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Reviews_OrderCustomer]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reviews_OrderCustomer] ON [dbo].[Reviews]
(
	[order_id] ASC,
	[customer_id] ASC
)
WHERE ([order_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WalletTx_Wallet]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_WalletTx_Wallet] ON [dbo].[Wallet_Transactions]
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WithdrawalRequests_Customer]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_WithdrawalRequests_Customer] ON [dbo].[WithdrawalRequests]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WithdrawalRequests_Date]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_WithdrawalRequests_Date] ON [dbo].[WithdrawalRequests]
(
	[request_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WithdrawalRequests_Status]    Script Date: 11/16/2025 3:24:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_WithdrawalRequests_Status] ON [dbo].[WithdrawalRequests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_email_verified]  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_CancelCount]  DEFAULT ((0)) FOR [cancel_count]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_cancel_in30_count]  DEFAULT ((0)) FOR [cancel_in30_count]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_admin_id]  DEFAULT ((1)) FOR [admin_id]
GO
ALTER TABLE [dbo].[Email_Verify_Tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Email_Verify_Tokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[Motorbikes] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [line_total]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Password_Reset_Tokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[Password_Reset_Tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('transfer') FOR [payment_method]
GO
ALTER TABLE [dbo].[RefundInspections] ADD  DEFAULT ((0)) FOR [damage_fee]
GO
ALTER TABLE [dbo].[RefundInspections] ADD  DEFAULT ('pending') FOR [refund_status]
GO
ALTER TABLE [dbo].[RefundInspections] ADD  DEFAULT (getdate()) FOR [inspected_at]
GO
ALTER TABLE [dbo].[Remember_Tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  CONSTRAINT [DF_RentalOrders_Dep]  DEFAULT ((0)) FOR [deposit_amount]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  CONSTRAINT [DF_RentalOrders_DepSt]  DEFAULT ('none') FOR [deposit_status]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT ((0)) FOR [payment_submitted]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT ('none') FOR [return_status]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT ('not_picked_up') FOR [pickup_status]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  CONSTRAINT [DF_RentalOrders_ChangeCount]  DEFAULT ((0)) FOR [change_count]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[StoreReviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Stores] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Wallet_Transactions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[Wallets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[WithdrawalRequests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[WithdrawalRequests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Admin]
GO
ALTER TABLE [dbo].[Email_Verify_Tokens]  WITH CHECK ADD  CONSTRAINT [FK_EmailTok_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Email_Verify_Tokens] CHECK CONSTRAINT [FK_EmailTok_Account]
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[Partners] ([partner_id])
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD FOREIGN KEY([store_id])
REFERENCES [dbo].[Stores] ([store_id])
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[BikeTypes] ([type_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([bike_id])
REFERENCES [dbo].[Motorbikes] ([bike_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrders] ([order_id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrders] ([order_id])
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_Admin]
GO
ALTER TABLE [dbo].[Password_Reset_Tokens]  WITH CHECK ADD  CONSTRAINT [FK_ResetTok_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Password_Reset_Tokens] CHECK CONSTRAINT [FK_ResetTok_Account]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrders] ([order_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Admins] FOREIGN KEY([verified_by])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Admins]
GO
ALTER TABLE [dbo].[RefundInspections]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[RefundInspections]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrders] ([order_id])
GO
ALTER TABLE [dbo].[Remember_Tokens]  WITH CHECK ADD  CONSTRAINT [FK_RememberTok_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Remember_Tokens] CHECK CONSTRAINT [FK_RememberTok_Account]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD FOREIGN KEY([admin_pickup_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD FOREIGN KEY([admin_return_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([bike_id])
REFERENCES [dbo].[Motorbikes] ([bike_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_RentalOrders] FOREIGN KEY([order_id])
REFERENCES [dbo].[RentalOrders] ([order_id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_RentalOrders]
GO
ALTER TABLE [dbo].[StoreReviews]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[StoreReviews]  WITH CHECK ADD FOREIGN KEY([store_id])
REFERENCES [dbo].[Stores] ([store_id])
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[Wallet_Transactions]  WITH CHECK ADD  CONSTRAINT [FK_WalletTx_Wallet] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[Wallets] ([wallet_id])
GO
ALTER TABLE [dbo].[Wallet_Transactions] CHECK CONSTRAINT [FK_WalletTx_Wallet]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallet_Customer]
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD FOREIGN KEY([processed_by])
REFERENCES [dbo].[Admins] ([admin_id])
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='partner' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD CHECK  (([status]='maintenance' OR [status]='rented' OR [status]='available'))
GO
ALTER TABLE [dbo].[Motorbikes]  WITH CHECK ADD  CONSTRAINT [CK_Motorbikes_Owner] CHECK  (([partner_id] IS NOT NULL AND [store_id] IS NULL OR [partner_id] IS NULL AND [store_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Motorbikes] CHECK CONSTRAINT [CK_Motorbikes_Owner]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([status]='refunded' OR [status]='failed' OR [status]='paid' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payments_Method] CHECK  (([method]='transfer' OR [method]='wallet' OR [method]='bank_transfer' OR [method]='cash'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payments_Method]
GO
ALTER TABLE [dbo].[RefundInspections]  WITH CHECK ADD CHECK  (([bike_condition]='damaged' OR [bike_condition]='good' OR [bike_condition]='excellent'))
GO
ALTER TABLE [dbo].[RefundInspections]  WITH CHECK ADD CHECK  (([refund_method]='wallet' OR [refund_method]='cash'))
GO
ALTER TABLE [dbo].[RefundInspections]  WITH CHECK ADD CHECK  (([refund_status]='refunded' OR [refund_status]='cancelled' OR [refund_status]='completed' OR [refund_status]='processing' OR [refund_status]='pending'))
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD CHECK  (([pickup_status]='returned' OR [pickup_status]='picked_up' OR [pickup_status]='not_picked_up'))
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD CHECK  (([status]='completed' OR [status]='cancelled' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [CK_RentalOrders_Dates] CHECK  (([start_date]<=[end_date]))
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [CK_RentalOrders_Dates]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [CK_RentalOrders_deposit_status] CHECK  (([deposit_status]='none' OR [deposit_status]='forfeited' OR [deposit_status]='refunded' OR [deposit_status]='refunding' OR [deposit_status]='held'))
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [CK_RentalOrders_deposit_status]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[StoreReviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Wallet_Transactions]  WITH CHECK ADD CHECK  (([type]='adjust' OR [type]='withdraw' OR [type]='refund' OR [type]='payment' OR [type]='topup'))
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD CHECK  (([status]='processed' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
USE [master]
GO
